!
{% block vrf %}
{%  if VNET is defined %}
{%   for vnet_name, vnet_metadata in VNET.items() %}
vrf {{ vnet_name }}
vni {{ vnet_metadata['vni'] }}
!
{%   endfor %}
{%  endif %}
{% endblock vrf %}
!
{% block interfaces %}
! Enable nht through default route
ip nht resolve-via-default
! Enable link-detect (default disabled)
{% for (name, prefix) in INTERFACE|pfx_filter %}
interface {{ name }}
link-detect
!
{% endfor %}
{% for pc in PORTCHANNEL %}
interface {{ pc }}
link-detect
!
{% endfor %}
{% endblock interfaces %}
!
{% block evpn_mh %}
{% if EVPN_ETHERNET_SEGMENT is defined %}
{% for es_intf, es_config in EVPN_ETHERNET_SEGMENT.items() %}
{% if es_config.es_id is defined %}
interface {{ es_intf }}
 evpn mh es-id {{ es_config.es_id }}
{% if es_config.es_sys_mac is defined %}
 evpn mh es-sys-mac {{ es_config.es_sys_mac }}
{% endif %}
!
{% endif %}
{% endfor %}
{% endif %}
{% endblock evpn_mh %}
!
